body {
  margin: 0;
}
.toolbar {
  padding-left: 10px;
  background-color: lightgrey;
  display: flex;
  align-items: start;
}
.toolbar-button {
  padding: 5px 10px;
  border: 0;
  font-size: 18px;
  background-color: inherit;
  color: black;
}
.toolbar-button:hover, .active {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}
